.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-piece {
  width: 400px;
  border-radius: 8px;
  margin: 0.5rem 0;
  color: #fff;
  text-transform: capitalize;
}

.burger-piece.top-slice {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.burger-piece.bottom-slice {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
